@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
    }
    .logo-items{
       flex-direction: column;
       padding-bottom: 100px;
       width: 100%;
    }
    .logo-items a{
        margin-bottom: 35px;
    }
    
}
@media screen and (min-width:576px) and (max-width:960px){
    .logo-items a{
        font-size: 0.7rem;
        
    }
}

